body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#gameContainer {
    background-color: #2a9d8f;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: "Permanent Marker", cursive;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 30px;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 20px;
}

.cell {
    width: 85px;
    height: 75px;
    background-color:#e9c46a ;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    background-color: #deb449;
    transform: scale(1.05);
}

#statusText {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

#restartBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restartBtn:hover {
    background-color: #45a049;
}
